.header {
  background: #2e8d52;
  height: 200px;
}

.header h1 {
  margin: 0;
  padding-top: 75px;
  text-align: center;
  color: white;
  font-size: 3rem;
}
.header h3 {
  margin: 0;
  padding-top: 15px;
  text-align: center;
  color: white;
  font-size: 2rem;
}